# Homework 6: Working with Pandas

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Q1. Read the csv file 'homework6_movies.csv' into a `pandas` `DataFrame`. Display the column names - just the column names - don't use `.head()`.

### Q2. Make a `DataFrame` that contains just the columns 'title', 'genres','budget', 'revenue', 'vote_average', 'release_date'. Print the shape of this dataframe, and display the first 5 rows. 

If you decide to give this `DataFrame` a new name then use `.copy()` when generating it (otherwise you may get pink warning messages when you do some of the later questions).

### Q3. Use `.replace()` to change all the revenue values of `0` to `np.NaN`. Next, drop all `NaN` values from the `DataFrame` and reset the row indices. Finally, use `info()` to check that all `NaN` values have been removed.


**Important Note:** Make sure that the indices are properly reset as you will be working with this `DataFrame` for the rest of the homework.

[Aside: Depending on how you use the function `dropna()` you may see pink warning messages. This is because `dropna()` returns a view and not a copy of the data, and thus changes to the view are frowned upon. Don't sweat this detail for our notebook today.]

### Q4. Add a 'year' column to your new `DataFrame` making sure it is of type 'int'. Delete the 'release_date' column. Display the first 5 rows of after these changes.
* The year (as a string) can be extracted from the first 4 characters of 'release_date'
* Consider using list comprehension or the `.str.slice()` function defined in `pandas`

### Q5. Plot 'year' vs 'budget' using a scatter plot (i.e. with markers and not lines). Using different colored markers, plot the median budget in each year on top of the full scatter plot.

Hint: Consider using `groupby` with the 'year' column to get the median values for the plot.

### Q6. Add a 'profit' column ('revenue' minus 'budget') to your `DataFrame`. After doing this, make a new `DataFrame` (a copy) and sort by 'profit'. Display the 5 movies with the highest profit in one cell and display the 5 movies that lost the most money in a second cell.

### Q7. Make a scatter plot of 'vote_average' on the x-axis and 'profit' on the y-axis. Make sure your axes are labeled.

### Q8. The 'genres' column is unusual - it contains lists of dictionaries. We want to convert this into something more usuable.

[This code is from a Kaggle notebook. https://www.kaggle.com/ibtesama/getting-started-with-a-movie-recommendation-system ]

To do this, apply the function below to your `DataFrame`, e.g., if your `DataFrame` is called `df` then the code would be `df = genre_list(df)`. 

This will change the column to lists of genre types. While this question is really simple, there are some important guidelines to follow: 

* Do not run this more than once (unless you re-run from the top), as it operates in-place on the `DataFrame`. 

* If this code is not working for your `DataFrame`, it may be that you did not properly remove the ill-formatted rows in Q3. Revisit that question.

* For subseqeuent cells to run properly, the `DataFrame` you use for this exercise should have "reset" indices starting at 0.

In [ ]:
### Functions to use for this exercise (do not modify!!!)

def get_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        return names
    return [] #Return empty list in case of missing/malformed data

def genre_list(df):
    """ Change the 'genres' column in a movie dataframe to a list of genres
    Call function with df = genre_list(df)"""
    from ast import literal_eval
    df['genres'] = df['genres'].apply(literal_eval)    
    df['genres'] = df['genres'].apply(get_list)
    return df

### Q9. Make a list of the unique genre types. You will need to iterate through the lists in the 'genres' columns to make your list of the unique genre types. Print your list.


Consider using a nested loop, something like:

`for list1 in df2['genres']:` for the outer loop

and `for val in list1:` for the inner loop

### Q10. Calculate the median profit for each genre type. Most movies have multiple genres, but that is ok (e.g., count Avatar for 'Action', 'Adventure', 'Fantasy', and 'Science Fiction'). Print the median profit of each genre type in units of millions of dollars (that is, divide by 1e6) and save these computed values in a list.

**Hint**: The cell below gives an example of how you can calculate the profit for all movies that contain the genre 'Action'. You will need to generalize this for all genres and compute the median values.

**Important Note**: this code assumes your DataFrame has indices that correspond to row numbers. To ensure this, make sure you reset the indices in Q3.

In [ ]:
# Example calculation for Action movies

genre = 'Action' # pick Action genre, for example

# make an array to track rows with an action movie
gslice = np.zeros(len(df2),dtype="bool") 

# iterate over rows, each one contains info about a movie
for ii, movie in df2.iterrows(): 
    gslice[ii] = genre in movie['genres'] # check whether movie is of this genre, updating array
    
# print median profit of movies with this genre (in Millions)
mdp = df2.loc[gslice,'profit'].median()/1e6
print("Median for profit for:", genre, mdp)

    
# display movies with this genre    
df2.loc[gslice,['genres','profit']].head()

In [ ]:
### Your task: apply to all genre types and store results in a list

### Q11. Make a new `DataFrame` that has two columns: 'genre' (the list you created in Q9) and the median profit you calculated above. Sort by median profit, in millions of dollars, and display the entire `DataFrame`.

### To receive credit for this homework, upload both the .ipynb file and an .html version.